$primary: #FFD500;
body{
  // background-color: #336600;
  // background-image: url("../images/img3.jpg")
    background: url("../images/pic3.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Arial;
}

.middle{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.background{
  background-color: $primary;
}

.font{
  color: $primary;
}

.infoDiv{
  border: 10px solid $primary;
  // background-color: $primary;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

// .transparent{
//   opacity: 0.5;
// }

footer{
  background-color: $primary;
}